{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mt-5">
                        {% if gig.status %}
                        <div class="card-body text-white bg-success">
                            <h5 class="card-title">Confirmed Gig</h5>
                        {% else %}
                        <div class="card-body text-white bg-warning">
                            <h5 class="card-title">Gig Proposal</h5>
                        {% endif %}
                            <p class="card-text">{{ gig.event_date }} -> {{ days_to }} days to the event</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Start Time: </strong><span> Still need to figure out</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Total Set Time: </strong><span>{{ gig.play_time }}</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Fees: </strong>$<span>{{ gig.fees }}</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Notes: </strong>
                                <p>
                                    {{ gig.info_notes }}
                                </p>
                            </li>
                            {% if gig.status %}

                            {% else %}
                            <li class="list-group-item">
                                <form class="d-inline" action="{% url 'gig_accept' gig.slug %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="agenda_gig_id" value="{{ gig.slug }}" class="btn text-white bg-success">Accept</button>
                                </form>
                                <form class="d-inline" action="{% url 'gig_refuse' gig.slug %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="agenda_gig_id" value="{{ gig.slug }}" class="btn text-white bg-danger">Refuse</button>
                                </form>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mt-5 bg-dark mb-5">
                        <div class="card-header text-white">
                            <strong>Venue: </strong><span>{{ venue.name }}</span>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Address:</strong>
                                <span>{{ venue.address }}, {{ venue.city }}</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Contact info: </strong
                ><span>{{ venue.contact_info }}</span>
              </li>
              <li class="list-group-item">
                <strong>Emergency info: </strong
                ><span>{{ venue.emergency_info }}</span>
              </li>
              <li class="list-group-item">
                <strong>Additional Notes:</strong>
                                <p>
                                    {{ venue.additional_info }}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}