{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <h2>Login</h2>
            <p>Welcome back! Login using your email and password.</p>
            <form class="form-custom w-50 py-5 px-5" method="POST">
              {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1" class="text-white">Email address</label
          >
          <input
            type="email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <small id="emailHelp" class="form-text text-white"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="text-white">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"/>
                    <small id="passwordHelp" class="form-text text-white">Forgot your password? Click
            <a href="#"><strong>HERE</strong></a></small
          >
        </div>
        <button type="submit" class="btn login-custom">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}